@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: rgb(220, 116, 88);
    --clr-secondary: rgb(244, 232, 210);
    --clr-accent: #776f62;

    --ff-primary: "Source Code Pro", "Lucida Console", monospace;
    --ff-secondary: "Ubuntu", Arial, Helvetica;
    --fs: 1.125rem;
    --fs-medium: 2rem;
    --fs-large: 4rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

body {
    margin: 0;
    line-height: 1.6;

    background: var(--clr-secondary);
}

:focus {
    outline: 3px solid var(--clr-secondary);
    outline-offset: 2px;
}

.content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.settings-open .settings {
    transform: translateX(0);
}

.settings-open .settings-toggle {
    position: fixed;
}

.settings-open .hamburger {
    transform: rotate(.625turn);
}

.settings-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.settings-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-secondary);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

.top {
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--clr-primary);
    box-shadow: var(--bs);
    flex-shrink: 25;
}

.top__panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    color: var(--clr-secondary);
    font-family: var(--ff-primary);
}

.title {
    display: flex;
    align-items: center;
    padding: .25em;
    text-align: left;
}

.algorithm {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.algorithm--title {
    margin-right: 5px;
    color: var(--clr-secondary);
    font-family: var(--ff-primary);
    font-size: var(--fs);
}

.algorithm__select {
    z-index: 1;
}

.settings {
    display: flex;
    padding: 1rem;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);

    background: var(--clr-primary);
}

.settings.open {
    transform: translateX(0);
}

.settings--input {
    margin: 5px;
    width: 80%;
}

.settings--input__title {
    color: var(--clr-secondary);
    font-family: var(--ff-primary);
    font-size: var(--fs-medium);
}

.settings--input__label {
    color: var(--clr-secondary);
    font-family: var(--ff-primary);
    font-size: var(--fs-medium);
}

.settings--input__slider {
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: #776f62;
    outline: none;
    border-radius: 5px;
}

.settings--input__slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--clr-secondary);
    cursor: pointer;
}

@media (min-width: 540px) {
    h1 {
        font-size: 2rem;
    }

    .top__panel {
        flex-direction: row;
    }

    .title {
        justify-content: center;
        text-align: center;
    }

    .settings {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }

    .title {
        flex-shrink: 5;
    }

    .settings {
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        transform: translateX(0);
        z-index: 0;
        background: none;
    }

    .settings--input {
        margin: 5px;
        width: 125px;
    }

    .settings--input__title {
        color: var(--clr-secondary);
        font-family: var(--ff-primary);
        font-size: var(--fs);
    }

    .settings--input__label {
        color: var(--clr-secondary);
        font-family: var(--ff-primary);
        font-size: var(--fs);
    }

    .settings--input__slider {
        appearance: none;
        width: 100%;
        height: 10px;
        background-color: #776f62;
        outline: none;
        border-radius: 5px;
    }

    .settings--input__slider::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--clr-secondary);
        cursor: pointer;
    }
}

.controls {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
}

.controls__btn {
    height: 60%;
    min-height: 3rem;
    width: 100px;

    border: none;
    outline: none;
    user-select: none;

    font-size: 1.5rem;
    font-family: var(--ff-secondary);

    background-color: var(--clr-secondary);
    color: var(--clr-accent);
    transition: width .2s ease-in-out, box-shadow .1s ease-in-out;
}

.controls__btn:hover {
    background-color: var(--clr-accent);
    color: var(--clr-secondary);
    width: 140px;
}

.controls__btn:active {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.visualizer__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

#visualizer {
    position: absolute;
    transform: scale(.6);
    top: 0;
    bottom: 0;
}

@media(min-width: 600px) {
    #visualizer {
        transform: scale(.8);
    }
}